main li {
    position: relative;
    padding-left: 1.2em;
    margin: 0.5em 0;
}
main li:before {
    content: "";
    position: absolute;
    width: 0;
    height: 0;
    left: 0;
    top: 0.3em;
    border-left: solid 10px #dde;
    border-top: solid 5px transparent;
    border-bottom: solid 5px transparent;
}

/* forms */
form input,
form textarea,
form select {
    width: 100%;
    display: block;
    border: solid 1px #dde;
    padding: 0.5em;
}
form input:after,
form textarea:after,
form select:after {
    content: "";
    display: table;
    clear: both;
}
form input[type="checkbox"],
form input[type="radio"] {
    display: inline;
    width: auto;
}
form label,
form legend {
    display: block;
    margin: 1em 0 0.5em;
}
form input[type="submit"] {
    background: #ff1a1a;
    border: none;
    border-bottom: solid 4px #e60000;
    padding: 0.7em 3em;
    margin: 1em 0;
    color: white;
    text-shadow: 0 -1px 0 #e60000;
    font-size: 1.1em;
    font-weight: bold;
    display: inline-block;
    width: auto;
    -webkit-border-radius: 0.5em;
    -moz-border-radius: 0.5em;
    -ms-border-radius: 0.5em;
    border-radius: 0.5em;
}
form input[type="submit"]:hover {
    background: turquoise;
    border: none;
    border-bottom: solid 4px #21ccbb;
    padding: 0.7em 3em;
    margin: 1em 0;
    color: white;
    text-shadow: 0 -1px 0 #21ccbb;
    font-size: 1.1em;
    font-weight: bold;
    display: inline-block;
    width: auto;
    -webkit-border-radius: 0.5em;
    -moz-border-radius: 0.5em;
    -ms-border-radius: 0.5em;
    border-radius: 0.5em;
}

/* feedback */
